<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <!-- Set quiet hours (nothing will be played during this interval) -->
      <add key="QuietHoursFrom" value="13:30"/>
      <add key="QuietHoursTo" value="14:00"/>
      
      <!-- Set time interval between plays (random number of minutes between these values) -->
      <add key ="MinValue" value="60"/>
      <add key ="MaxValue" value ="91"/>
      
      <!-- Set how much of the file will be played (in seconds) -->
      <add key ="PlayLength" value="60"/>

      <add key="Filename" value="icebraker.mp3"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
