body {
    padding: 20px;
    font-family: Verdana;
}
div {
    padding: 15px;
}
#player-log {
    font-family: 'Lucida Sans Unicode';
    font-size: 12px;
    background-color: beige;
    padding: 10px;
    border: 5px;
    border-radius: 10px;
    margin: 10px;
    overflow-y: scroll;
    height: 200px;
}

.bold-red-text {
    font-weight: bold;
    color: darkred;
}


